main{
    .owl-carousel-head{
        position: relative;
        .owl-dots{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            .owl-dot{
                span{
                    width: 16px;
                    height: 16px;
                    background-color: rgba(75, 85, 99,.6);
                }
                &.active span{
                    background-color: #111827;
                }
            } 
        }
    } 
    .price-box{
        background-color: #F3F4F6;
        // min-width: 280px;
    }
    .owl-products-panel1,
    .owl-products-panel2,
    .owl-products-panel3{
        .item{
            height: 290px;
        }
    }
    .phone-box{
        background: linear-gradient(253.4deg, #6366F1 0%, #3730A3 100%);
    }
    .handsfree-box{
        background: linear-gradient(227.76deg, #9F1239 0%, #F43F5E 100%);
        & img{
            transform: translateY(18px);
        }
        overflow: hidden;
    }
    .mouse-box{
        background: linear-gradient(95.24deg, #10B981 0%, #065F46 100%);
    }
    .powerbank-box{
        background: linear-gradient(84.76deg, #F59E0B 0%, #92400E 100%);
    }
    @include media-breakpoint-down(xl) {
        .product{
            > div ,
            div:nth-child(3) > div{
                margin-bottom: 15px;
            }
        }
    }
    .boxws{
        max-width: 350px;
        padding-bottom: 15px;
        @include media-breakpoint-up(xl) {
            padding-bottom: 0;
        }
    }
    @include media-breakpoint-down(md) {
        .panels{
            position: relative;
            margin-bottom: 40px;
            .row{
                padding-top: 20px;
            }
            .more-button{
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                top: 340px;
            }
            .more-fav{
                top: 310px;
            }
        }
    }    
}