<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>sample home</title>
    <% include /styles.ejs %>
</head>

<body  class="Site">
<header>
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between my-3">
                <div class="logo">
                    <img src="../images/Logo.svg" alt="">
                </div>
                <div class="input-group d-flex mx-5">
                    <input type="search" class="form-control border-0 rounded-4 flex-shrink-1" placeholder="جست و جوی برند، مدل، دسته و ..." aria-label="default">
                    <button class="btn rounded-4" type="button" id="button-addon2"><img src="../images/search-normal.svg" alt=""></button>
                </div>
                <div class="account d-flex align-items-baseline">
                    <div class="border-end pe-3 d-lg-flex align-items-center d-none">
                        <img src="../images/user.svg" class="px-2" alt="">
                        <span class="text-nowrap text-gray">وارد شوید</span>
                    </div>
                    <div class="ps-3 d-flex align-items-center">
                        <img src="../images/Cart.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="d-flex my-3 navigation">
                <a href="#" class="text-nowrap text-white rounded-4 py-2 px-3 me-3 item">
                    <img src="../images/category.svg" alt="">
                    دسته بندی محصولات</a>
                <a href="#" class="text-nowrap text-gray py-2 px-3 mx-3">پرفروش ترین ها</a>
                <a href="#" class="text-nowrap text-secondary py-2 px-3 mx-3">شگفت انگیز ها</a>
                <a href="#" class="text-nowrap text-gray py-2 px-3 mx-3">جدیدترین ها</a>
            </div>
        </div>
    </div>
</nav>